.message
  %h3.message__name= message.user.name
  %p.message__date= message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
  %p.message__body= message.body
  = image_tag message.image, class: "message__image"
