!!!
%html{ lang: "ja" }
  %head
    %meta{ charset: "utf-8" }
    = stylesheet_link_tag "application"
  %body
    %header.header
      .header__left
        %h2.header__left--user-name name
      .header__right
        %h2.header__right--room-name room-name
        %p.header__right--edit-btn Edit
        %p.header__right--member-list member-list
    .left-content
      %p ルームリスト(部分テンプレ)
    .right-content
      %p チャットログ(部分テンプレ)
      .input
        %input.input__message-box{ type: "text" }
        .input__sent-btn Send
