!!!
%html{ lang: "ja" }
  %head
    %meta{ charset: "utf-8" }
    = stylesheet_link_tag "application"
  %body
    .wrapper
      .side-bar
        .header
          %h2.header__user-name name
          %ul.edit-list
            %li.edit-list__edit
              = fa_icon("gear")
            %li.edit-list__new
              = fa_icon("edit")
        .rooms
          .room
            %h3.room__room-name room-name
            %p.room__room-log room-log
          .room
            %h3.room__room-name room-name
            %p.room__room-log room-log
          .room
            %h3.room__room-name room-name
            %p.room__room-log room-log
      .main
        .header
          .room-info
            %h2.room-info__room-name MainRoom
            %ul.members
              %li.members__member Member：
              %li.members__member kzym
              %li.members__member kzym
              %li.members__member kzym
              %li.members__member kzym
          .edit-btn
            %p.edit-btn__btn-text Edit
        .chat
          .message
            %h3.message__name name
            %p.message__date date
            %p.message__body body
            %img.message__image{src: "abc"}
        .form
          .input-box
            %input.input-box__text{ type: "text", placeholder: "type a message"}
            .input-box__icon
              = fa_icon("image")
          .form__send-btn Send
