!!!
%html{ lang: "ja" }
  %head
    %meta{ charset: "utf-8" }
    = stylesheet_link_tag "application"
  %body
    .wrapper
      .side-bar
        .header
          %h2.header__user-name name
          %p.header__user-edit マーク
        .rooms
          %h3.rooms__room-name room-name(テンプレ)
          %p.header__right--room-text room-text(テンプレ)
      .main
        .header
          .room-info
            %h2.room-info__room-name MainRoom
            %ul.room-info__members
              %li.member Member:
              %li.member kzym
          .edit-btn
            %p.edit-btn__btn-text Edit
        .chat
          %h3 name(テンプレ)
          %p date(テンプレ)
          %p text(テンプレ)
          %img image(テンプレ)
        .form
          .input-box
            %input.input-box__text{ type: "text" }
            .input-box__icon 添付
          .input__sent-btn Send
