.main {
  .form {
    @include div_basic(null, $form_h, $form_bg);
    padding: 20px 40px;
    .input-box {
      @include div_basic(calc(100% - 100px), 50px);
      position: relative;
      &__text {
        @include div_basic(100%, 50px);
        float: left;
        padding-left: 10px;
      }
      &__icon {
        @include absolute(10px, 10px, null, null);
        font-size: 20px;
      }
    }
    &__sent-btn {

    }
  }
}
