.side-bar {
  .header {
    @include div_basic(300px, 100px, #253141);
    padding: 0 20px;
    &__user-name {
      @include font_basic(#fff, 16px, 100px, bold);
      float: left;
    }
    .edit-list {
      @include font_basic(#fff, 16px, 100px);
      float: right;
      &__new {
        float: right;
        padding-right: 5px;
      }
      &__edit {
        float: right;
      }
    }
  }
}
