.side-bar {
  float: left;
  .header {
    @include div_basic($side_w, $head_h, #253141);
    padding: 0 20px;
    &__user-name {
      @include font_basic(#fff, 16px, $head_h, bold);
      float: left;
    }
    .edit-list {
      @include font_basic(#fff, 16px, $head_h);
      float: right;
      &__new {
        float: right;
        padding-right: 5px;
      }
      &__edit {
        float: right;
      }
    }
  }
}
